/*====================*/
/*   Import Colors    */
/*====================*/
@import "colours.css";

/*========================*/
/*       Waybar           */
/*========================*/
window#waybar {
    background-color: @base;
    color: @text;
    border-bottom: 2px solid @surface1;
  }
